# librerias requeridas para ejecutar los scripts
numpy==2.4.3
scipy==1.17.1
scikit-learn==1.8.0
xgboost==3.2.0
pandas==3.0.1
deap==1.4.3
git+https://github.com/xKuZz/pyade.git

# librerias requeridas para reproducir figuras y tablas de la memoria
matplotlib==3.10.8
tables==3.11.1

